app-e-com-home{


    ion-content{
        top:10%;
    }

    .itemHeader ion-col{
        margin:auto;
    }
    div{
        margin-bottom: 10%;
    }
    .errorMsg{
        margin-top: 10%;
    }
}